@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main style  */
/* body */
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(24 34 62 / 74%), rgb(42 55 81 / 60%)),url(../images/blil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* home sections */

#container-h, #container-u, #container-a {
    min-height: 100vh;
    width: 100%;
}
#topic {
    min-height: 100vh;
    width: 100%;
    background-color: #1c3b44d6;
    margin-bottom: 160px;
}

#define {
    min-height: 100vh;
    width: 100%;
    background-color: #1c3b44d6;
    margin-bottom: 160px;
}

#summary {
    min-height: 100vh;
    width: 100%;
    background-color: #1c3b44d6;
    margin-bottom: 160px;
}


#lead-fv {
    margin-bottom: 150px;
}

/* header */

header {
    padding: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #263b53;
    }


h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;

}

header a {
    text-decoration: none;
    color: #f7f7f7;
    padding-right: 30px;
}

#menu > li {
    list-style-type: none;
    margin-bottom: 0.8em;
}


#menu {
    font-family: 'Tenor Sans', sans-serif;
}

nav {
    position: absolute;
    box-shadow: 0 2px 2px rgb(59, 65, 31);
    background-color: #263b53;
    top: 100%;
    display: none;
    width: 100%;
    left: 0;
    padding: 0 10px;
}

#drop {

    display: none;
}

.drop-down i {
    color: #f7f7f7;
    padding-right: 1em;
}

.drop-down {
    font-size: 30px;
}

#drop:checked ~ nav {
    display: block;
}

/* Intro section */
#intro, #facial {
    color: #f7f7f7;
    text-align: center;
    background-color: #3651598b;
    }
    

#intro h2, #hero h2 {
    padding-top: 3.9em;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: normal;
    color: #ffffff;
    font-weight: bold;
}
#intro p, #hero p {
    padding: 10px 0;
    top: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 1.5px;
    color: #ffffff;
}
#hero p, h2{
    text-align: center;
}
#more-intro {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 1.3px;
    font-size: 110%;
    color: #efeeec;
}
#mini {
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 1.7px;
    color: #ffffff;
    padding: 20px 10px;
}


/* Topic section in home page */

#topic h4, #define h3, #parts h4 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #f7f7f7;
}

#parts p {
    padding: 0 29px;
}

#topic h3 {
    text-align: center;
    font-size: medium;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
    width: 50%;
}

#lead p, #parts p, #define p {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 90%;
        letter-spacing: 0.3px; 
        color: #f7f7f7cd;
        width: 60%;
}

img {
    height: 200px;
    width: 50%;
    float: right;
    position: relative;
    right: 5px;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #f7f7f776;
    font-size: small;
    padding: 0 5px;
    margin-top: 20px;

}
/* footer */

footer {
    display: flex;
    height: 150px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}
#lower-nav {
    width: 100%;
    background-color: #eceeee;
    padding-top: 10px;
    padding-left: 20px;
    
}


 #lower-nav h4 {
    color: #0a0a08;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: capitalize;

}

#lower-nav ul {
    padding-top: 10px;
}

.connect li {
    list-style-type: none;
    margin-top: 1px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 70%;
}

#contacts i {
    color: #0b73ebe7;
}

#networks h4 {
    color: #0a0a08;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-right: 13px;
    line-height: normal;
    text-transform: capitalize;
}

#networks > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

#social a {
    color: #0b73ebe7;
}

/* sign-up page */
#sign-up {
    background-color: #3c6ca573;
    height: 50%;
    width: 70%;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 70px;
    padding: 0 20px;
    position: absolute;
    color: #f7f7f7;
}

#sign-up h1 {
    text-align: center;
    font-size: medium;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
}

#sign-up p {
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    color: #f7f7f7;
    text-align: center;
}

#sign-up hr {
    margin: 20px;
}

.pase {
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    background: transparent;
}

.member {
    background-color: #dcc07fbd;
    height: 30px;
    width: 30%;
    position: relative;
    top: 8px;
    left: 120px;
    font-size: 100%;
    font-family: 'Tenor Sans', sans-serif;
}

#mind h1 {
    padding-top: 3.9em;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: normal;
    color: #efeeec;
    font-weight: bold;
    text-align: center;
}

#mind p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 0.3px; 
    color: #f7f7f7cd;
    padding: 0 20px;
    padding-top: 20px;
}

#networks li {
    font-size: large;
}

/* Media query for extra small screens */
@media screen and (max-width: 576px) {
    #sign-up {
        height: 65%;
        width: 80%;
        margin: 80px 35px 30px 20px;
        padding: 0 0 0 15px;
        position: absolute;
        color: #f7f7f7;
    }

    .member {
        background-color: #dcc07fbd;
        height: 30px;
        width: 40%;
        position: relative;
        top: 20px;
        left: 150px;
    }
    
    #topic h3 {
        width: 100%;
    }

    #lead p, #parts p, #define p {
        width: 100%;
        padding: 10px;
    }

    img {
        height: fit-content;
        padding: 0 20px;
        margin-top: 20px;
        width: 100%;
        position: relative;
    }

    figcaption {
        padding: 0 15px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 576px) {
    #sign-up {
        height: 65%;
        width: 80%;
        margin: 35px;
        padding: 0 40px;
        padding: 0 0 0 15px;
        position: absolute;
        color: #f7f7f7;
    }

    .member {
        background-color: #dcc07fbd;
        height: 30px;
        width: 40%;
        position: relative;
        top: 20px;
        left: 150px;
    }
    
    #topic h3 {
        width: 100%;
    }

    #lead p, #parts p, #define p {
        width: 100%;
        padding: 0 10px;
    }

    img {
        height: 60%;
        padding: 0 20px;
        margin-top: 20px;
    }

    figcaption {
        padding: 0 15px;
        margin-top: 10px;
    }
}


/* Media query for tablets and larger devices (min-width: 768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        align-items: baseline;
        box-shadow: none;
        background-color: transparent;
    }
    
    li {
        padding-right: 25px;
    }

    #menu {
        display: flex;    
        padding-right: 10px;
    }
    
    .drop-down {
        display: none;
    }
    .direkt ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #d79c11;
        display: block;
        margin: 0 auto;
        transition: 0.5s;
    }
    .direkt ul li:hover::after {
        width: 100%;
    }

    h1 {
        font-size: 1.1em;
        padding-left: 30px;
    }

   #intro p {
        text-align: center;
        padding: 10px 28px;
    }

    #mini {
        padding: 20px 10px;
    }

/* sign-up page */

#sign-up {
    height: 50%;
    width: 70%;
    margin-top: 170px;
    margin-left: 70px;
    padding: 20px 50px;
    position: absolute;
    color: #f7f7f7;
}

#sign-up h1 {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
}


 
#sign-up p {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    color: #f7f7f7;
    text-align: center;
}

.member {
    height: 30px;
    width: 30%;
    top: 15px;
    left: 250px;
    font-size: 110%;
  
}

.pase {
    left: 5px;
}

/* picture and text style  */
#media img, #cate-g img {
    height: 60%;
    width:40%;
    float: inline-end;
}

#title, #sub-title {
    float: inline-end;
    width: 30%;
    height: 10%;
}

#topic h4 {
    font-size: 130%;
}

/* footer */
#lower-nav h4 {
    font-size: 110%;
    font-family: 'Tenor Sans', sans-serif;
}

#connect li {
    font-size: 76%;
}
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 1.6em;
        padding-left: 30px;
    }

    #networks li {
        font-size: 140%;
    
    }

    #lower-nav h4 {
        font-size: 160%;
    }

    #topic h3 {
        font-size: 130%;
    }

    #lead p, #parts p, #define p {
        font-size: 110%;
    }

    #mini {
        padding: 20px 10px;
    }

    /* Sign-up page */
    #sign-up {
        padding-left: 100px;
    }

    #sign-up h1 {
        font-size: 145%;
    }

    #sign-up p {
        font-size: 130%;
    }
    .pase {
        width: 50%;
        left: 15px;
    }

    .member {
        position: relative;
        top: 60px;
        left: 350px;
    }

    /* picture and text style */

    #media img, #cate-g img {
        height: fit-content;
        width: 35%;
        position: relative;
        margin: 10px 0 0 10px;
    }
    
    #title, #sub-title {
        float: inline-end;
        width: 30%;
        height: 10%;
    }
    
    #topic h4 {
        font-size: 150%;
    }

    #sign-up {
        height: 60%;
        width: 80%;
        margin-top: 70px;
        margin-left: 70px;
        padding: 20px 50px;
        color: #f7f7f7;
    }

    }
    
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
     /* picture and text style */

     #media img, #cate-g img {
        height: 700px;
        width: 40%;
        position: relative;
        bottom: 200px;
        margin: 50px 0 0 10px;
        padding: 25px 13px 20px 0;
        float: inline-end;
    }

    #cate-g img {
        bottom: 0;
    }
    
    #title, #sub-title {
        width: 30%;
        height: 10%;
    }
    
    #sub-title {
        float: inline-end;
        width: 30%;
        height: 10%;
        padding: 10px 0 0 19em;
        font-size: 100%;
    }

    #parts p {
        width: 80%;
        font-size: 110%;
    }

    #define h3 {
        font-size: 145%;
    }
    
    #define p {
        font-size: 110%;
    }

    #parts h3 {
        font-size: 138%;
    }

    #topic h4 {
        font-size: 140%;
    }

    #lead-th, #lead-fr, #lead-fv {
        width: 60%;
        text-align: center;
        padding: 0 30px;
    }

    #lead h4 {
        font-size: 130%;
    }

    #lead p {
        font-size: 110%;
    }

    /* about page  */
#mind h1 {
    font-size: 145%;
}

#mind p {
    font-size: 120%;
}

#intro {
    font-size: 130%;
    }

    #intro p, #hero p {
        font-size: 110%;
        color: #ffffff;
    }

    #mini {
        font-size: 100%;
        color: #ffffff;
        padding: 20px 30px;
    }
}