@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tenor+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main style  */
/* body */
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(40,50,80,0.5),rgba(40,50,80,0.6)),url(/assets/images/blil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    
}
section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

#topic {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    background-color: #23374e9f; 
}

#define {
    background-color: #23374e9f;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

footer {
    height: 100vh;
    width: 100%;
    scroll-snap-align: none;
}

/* header */

header {
    padding: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;

}

header a {
    text-decoration: none;
    color: #f7f7f7;
    padding-right: 30px;
}

#menu > li {
    list-style-type: none;
    margin-bottom: 0.8em;
}


#menu {
    font-family: 'Tenor Sans', sans-serif;
}

nav {
    position: absolute;
    box-shadow: 0 2px 2px rgb(59, 65, 31);
    background-color: #263b53;
    top: 100%;
    display: none;
    width: 100%;
}

#drop {

    display: none;
}

.drop-down i {
    color: #f7f7f7;
    padding-right: 1em;
}

.drop-down {
    font-size: 30px;
}

#drop:checked ~ nav {
    display: block;
}

/* Intro section */
#intro {
    color: #f7f7f7;
    text-align: center;
}

#intro h2 {
    padding-top: 16em;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: normal;
    color: #efeeec;
    font-weight: bold;
}
#intro p {
    padding: 20px 0;
    top: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 1.5px;
    color: #e1dfd9;
}
#more-intro {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 1.3px;
    font-size: 110%;
    color: #efeeec;
}
#mini {
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 1.7px;
    color: #e1dfd9;
}


/* Topic section in home page */

#topic h4 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #f7f7f7;
}

#topic h3 {
    text-align: center;
    font-size: medium;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
}

#lead p {
        text-align: center;
        font-family: 'Open Sans' sans-serif;
        font-size: 90%;
        letter-spacing: 0.3px; 
        color: #f7f7f7;
}

img {
    height: 260px;
    width: 300px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: 30px;
    box-shadow: 2px 0 2px #f7f7f7;
}

/* footer */

footer {
    display: flex;
    height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#lower-nav {
    width: 100%;
    background-color: #eceeee;
    padding-top: 10px;
    padding-left: 20px;
    
}


 h4 {
    color: #0a0a08;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: capitalize;

}

#lower-nav ul {
    padding-top: 10px;
}

.connect li {
    list-style-type: none;
    margin-top: 1px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 90%;
}

#contacts i {
    color: #d59f23;
}

#networks h4 {
    color: #0a0a08;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: capitalize;
}

#networks > ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    color: darkblue;
}

/* sign-up page */
#sign-up {
    background-color: #7daadf3a;
    height: 50%;
    width: 70%;
    margin-top: 70px;
    margin-left: 70px;
    padding: 0 20px;
    position: absolute;
    color: #f7f7f7;
}

#sign-up h1 {
    text-align: center;
    font-size: medium;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
}

#sign-up p {
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    color: #f7f7f7;
    text-align: center;
}

#sign-up hr {
    margin: 20px;
}

.pase {
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    background: transparent;
}

.member {
    background-color: #dcc07fbd;
    height: 30px;
    width: 30%;
    position: relative;
    top: 8px;
    left: 120px;
    font-size: 100%;
    font-family: 'Tenor Sans', sans-serif;
}

/* UFE page */
 #hero {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 30vh;
}

#hero h2 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: normal;
    color: #efeeec;
    font-weight: bold;
}
#hero p {
    top: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 1.5px;
    color: #e1dfd9;
    position: relative;
    top: 10px;
   text-align: center;
}

/* define section */

#define {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#define h3 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: normal;
    color: #efeeec;
    font-weight: bold;
    margin-top: 1.2em;
}

#define p {
    top: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 1.5px;
    color: #e1dfd9;
    position: relative;
    top: 10px;
   text-align: center;
}

/* Media query for tablets and larger devices (min-width: 768px and up) */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        align-items: baseline;
        box-shadow: none;
        background-color: transparent;
    }
    
    li {
        padding-right: 25px;
    }

    #menu {
        display: flex;    
        padding-right: 10px;
    }
    
    .drop-down {
        display: none;
    }
    .direkt ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #d79c11;
        display: block;
        margin: 0 auto;
        transition: 0.5s;
    }
    .direkt ul li:hover::after {
        width: 100%;
    }

    h1 {
        font-size: 1.1em;
        padding-left: 30px;
    }

   #intro p {
        text-align: center;
        padding: 10px 28px;
    }

#mini {
    padding: 0 38px;
    letter-spacing: 1.7px;
}

/* sign-up page */

#sign-up {
    height: 50%;
    width: 70%;
    margin-top: 170px;
    margin-left: 70px;
    padding: 20px 50px;
    position: absolute;
    color: #f7f7f7;
}

#sign-up h1 {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
}


 
#sign-up p {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    color: #f7f7f7;
    text-align: center;
}

.member {
    height: 30px;
    width: 30%;
    top: 15px;
    left: 250px;
    font-size: 110%;
  
}

.pase {
    left: 5px;
}

/* footer */
#lower-nav h4 {
    font-size: 110%;
    font-family: 'Tenor Sans', sans-serif;
}

#connect li {
    font-size: 76%;
}


}
#networks li {
    font-size: large;
}



/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 1.6em;
        padding-left: 30px;
    }

    #networks li {
        font-size: 140%;
    
    }

    #lower-nav h4 {
        font-size: 160%;
    }

    /* Sign-up page */
    #sign-up {
        padding-left: 100px;
    }

    #sign-up h1 {
        font-size: 145%;
    }

    #sign-up p {
        font-size: 130%;
    }
    .pase {
        width: 50%;
        left: 15px;
    }

    .member {
        position: relative;
        top: 60px;
        left: 350px;
    }

    }
    
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    
}