@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tenor+Sans&display=swap');

/* General page reset so it can overrides the default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styles (set background, font and flexbox layout)*/
body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(24 34 62 / 74%), rgb(42 55 81 / 60%)),url(../images/blil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
}

/* Section containers: each section takes full viewport of height and width */
#container-h, #container-u, #container-a {
    min-height: 100vh;
    width: 100%;
}

/* set background color, padding-bottom, height and width */
#topic {
    min-height: 100vh;
    width: 100%;
    background-color: #1c3b44d6;
    padding-bottom: 340px;
}

/* setting background and bottom margin to the define section */
#define {
    min-height: 100vh;
    width: 100%;
    background-color: #1c3b44d6;
    margin-bottom: 160px;
}

/* setting background and bottom-padding*/
#summary {
    min-height: 100vh;
    width: 100%;
    background-color: #1c3b44d6;
    padding-bottom: 165px;
}

/* bottom margin for the lead-fv div so it appears much more over the footer */
#lead-fv {
    margin-bottom: 150px;
}

/* header */
/* set background color, make it static and flexbox layout and make the header appears all over the other contents (z index)  */
header {
    padding: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #263b53;
    z-index: 200;
    }

/* Global h1 styles: set font family, sizes and transform the text  */
h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1em;
    text-transform: uppercase;

}
/* set text color, padding right and remove underline decoration */
header a {
    text-decoration: none;
    color: #f7f7f7;
    padding-right: 30px;
}
/* give space between the list items and remove bullet points */
#menu > li {
    list-style-type: none;
    margin-bottom: 0.8em;
}

/* setting font family */
#menu {
    font-family: 'Tenor Sans', sans-serif;
}
/* positioning and adding box shadow so it seems over the body and hiding so it can display when user clicks on the menu icon */
nav {
    position: absolute;
    box-shadow: 0 2px 2px rgb(59, 65, 31);
    background-color: #263b53;
    top: 100%;
    display: none;
    width: 100%;
    left: 0;
    padding: 0 10px;
}
/* Hide the checkbox */
#drop {

    display: none;
}
/* set color and padding right to the menu icon */
.drop-down i {
    color: #f7f7f7;
    padding-right: 1em;
}
/* Set menu icon size */
.drop-down {
    font-size: 30px;
}
/* display the menu or the navigation items when user clicks on the menu icon */
#drop:checked ~ nav {
    display: block;
}

/* Intro section: set color, background color and center the text*/
#intro, #facial {
    color: #f7f7f7;
    text-align: center;
    background-color: #3651598b;
    }
    
/* Global h2 and the paragraohs of the intro and hero sections styles: setting the padding, font family, weight and sizes, transforming, color and letter spacing */
#intro h2, #hero h2, #mind h2 {
    padding-top: 3.9em;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: normal;
    color: #ffffff;
    font-weight: bold;
}
#intro p, #hero p {
    padding: 10px 0;
    top: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 1.5px;
    color: #ffffff;
}
#hero p, h2{
    text-align: center;
}
/* General style for the more intro section and mini */
#more-intro {
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 1.3px;
    font-size: 110%;
    color: #efeeec;
}
#mini {
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 1.7px;
    color: #ffffff;
    padding: 20px 10px;
}


/* styling the topic section in home page: setting the font family, size, padding, color and transforming text to the capitalize and centering the text */

#topic h4, #define h3, #parts h4 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    color: #f7f7f7;
}

/* add padding to the text so it can have space between the picture and the left side of the page */
#parts p {
    padding: 0 29px;
}
/* Global h3 style: fonts, color and width  */
#topic h3 {
    text-align: center;
    font-size: medium;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
    width: 50%;
}

/* Global paragraph styles for the UFE page */
#lead p, #parts p, #define p {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 90%;
        letter-spacing: 0.3px; 
        color: #f7f7f7cd;
        width: 60%;
}

/* Global img styles:etting height, width, positioning to the right and inherit from the parent elemnt (media) and global figcaption styles: setting fonts, padding, margin, and color */
img {
    height: 200px;
    width: 50%;
    float: right;
    position: relative;
    right: 5px;
    object-fit: contain;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #f7f7f776;
    font-size: small;
    padding: 0 5px;
    margin-top: 20px;

}

/* footer */
/* Global footer styles: give the height, full width, make it static (fixed) add flexbox style so the text and icons be on the same line */
footer {
    display: flex;
    height: 150px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
}
/* give full width of the container (footer) set different color and position using padding */
#lower-nav {
    width: 100%;
    background-color: #eceeee;
    padding-top: 10px;
    padding-left: 20px;
}

/* Set fonts, color, height, letter spacing and transform h4 of the footer */
 #lower-nav h4 {
    color: #0a0a08;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: normal;
    text-transform: capitalize;

}

/* give space between  the contact us and the contact list */
#lower-nav ul {
    padding-top: 10px;
}

/* remove bullet points and give them space and add fonts */
.connect li {
    list-style-type: none;
    margin-top: 1px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 70%;
}
/* set color to phone and email icons */
#contacts i {
    color: #0b73ebe7;
}

/* give general style to the social media icons header: fonts, color, line height and transform the text */
#networks h4 {
    color: #0a0a08;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 100%;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-right: 13px;
    line-height: normal;
    text-transform: capitalize;
}

/* remove bullet points, align them on same line and give 'em space to the right */
#networks > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
/* List items font size */
#networks li {
    font-size: large;
}
/* set color to the social media icons*/
#social a {
    color: #0b73ebe7;
}

/* sign-up form styles */
/* sign-up form style: backgroud color, text color, height, width and positioning */
#sign-up {
    background-color: #3c6ca573;
    height: 50%;
    width: 70%;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 70px;
    padding: 0 20px;
    position: absolute;
    color: #f7f7f7;
}

/* form header text styles */
#sign-up h1 {
    text-align: center;
    font-size: medium;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
}

/* P: setting fonts, color and centering the text */
#sign-up p {
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    color: #f7f7f7;
    text-align: center;
}

/* Horrizentol line: give space around the element */
#sign-up hr {
    margin: 20px;
}

/* Form input style: set color, bordr and make th ebackground color transparent */
.pase {
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 3px;
    background: transparent;
}

/* send button style: add action color, height, widhth, fonts and position it */
.member {
    background-color: #dcc07fbd;
    height: 30px;
    width: 30%;
    position: relative;
    top: 8px;
    left: 120px;
    font-size: 100%;
    font-family: 'Tenor Sans', sans-serif;
}

/* About page */
/* Set general style to h3 of about page (Fonts, letter spacing, align the text center, transform the text and position it */
#mind h3 {
    padding-top: 3.9em;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 115%;
    text-transform: capitalize;
    letter-spacing: normal;
    color: #efeeec;
    font-weight: bold;
    text-align: center;
}

/* Set general style for about page paragraphs (center the text, set fonts, color, position it and give letter spacing */
#mind p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    letter-spacing: 0.3px; 
    color: #f7f7f7cd;
    padding: 0 20px;
    padding-top: 20px;
}

/* Media query for extra small screens (max-width: 567px) */
@media screen and (max-width: 576px) {

/* styling the form so the user can send info from extra small screens and style the send button so it can have appropriate width and height and position right bottom */
    #sign-up {
        height: 65%;
        width: 80%;
        margin: 80px 35px 30px 20px;
        padding: 0 0 0 15px;
        position: absolute;
        color: #f7f7f7;
    }

    .member {
        background-color: #dcc07fbd;
        height: 30px;
        width: 40%;
        position: relative;
        top: 20px;
        left: 150px;
    }
    
    /* style h3, #lead p, #parts p, #define p for extra small screens */
    #topic h3 {
        width: 100%;
    }

    #lead p, #parts p, #define p {
        width: 100%;
        padding: 10px;
    }

    /* Give the img full width and style it for extra small screens and figcaption appear under the img */
    img {
        height: fit-content;
        padding: 0 20px;
        margin-top: 20px;
        width: 100%;
        position: relative;
    }

    figcaption {
        padding: 0 15px;
        margin-top: 10px;
    }
}

/* Media query for small screens (min-width: 576px and up) */
@media screen and (min-width: 576px) {
/* style form and send button for small screens so it can be seen and user can have the ability to send the form */
    #sign-up {
        height: 65%;
        width: 80%;
        margin: 35px;
        padding: 0 40px;
        padding: 0 0 0 15px;
        position: absolute;
        color: #f7f7f7;
    }

    .member {
        background-color: #dcc07fbd;
        height: 30px;
        width: 40%;
        position: relative;
        top: 20px;
        left: 150px;
    }
    
    /* Style the texts all across the page for small screens (giving them full width) */
    #topic h3 {
        width: 100%;
    }

    #lead p, #parts p, #define p {
        width: 100%;
        padding: 0 10px;
    }

    /* Give the img full width and 60% height and figcaption under the img */
    img {
        height: 60%;
        padding: 0 20px;
        margin-top: 20px;
    }

    figcaption {
        padding: 0 15px;
        margin-top: 10px;
    }
}

/* Media query for tablets and larger devices (min-width: 768px and up) */
@media screen and (min-width: 768px) {
/* make the navigation items seen on the right top of the screen */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        align-items: baseline;
        box-shadow: none;
        background-color: transparent;
    }
    
/* give space to the right */
    li {
        padding-right: 25px;
    }

/* Style the navigation items so they can be on line and padding on right */
    #menu {
        display: flex;    
        padding-right: 10px;
    }

/* Hide the menu icon */ 
    .drop-down {
        display: none;
    }

    /* add hover effect for the list items so when user hover over them it takes action orange color and add transition time and hover after */
    .direkt ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #d79c11;
        display: block;
        margin: 0 auto;
        transition: 0.5s;
    }
    .direkt ul li:hover::after {
        width: 100%;
    }

    /* Make the global h1 bigger so it can suits the ipad size screens and give space on the left side */
    h1 {
        font-size: 1.1em;
        padding-left: 30px;
    }

    /*  center the intro section paragraphs for ipad screens and add space around it both to the intro and mini sections */
   #intro p {
        text-align: center;
        padding: 10px 28px;
    }

    #mini {
        padding: 20px 10px;
    }

/* sign-up page */

/* Form style for the ipad size screens */
#sign-up {
    height: 50%;
    width: 70%;
    margin-top: 170px;
    margin-left: 70px;
    padding: 20px 50px;
    position: absolute;
    color: #f7f7f7;
}

/* Form h2 and p style for the ipad screens */
#sign-up h2 {
    text-align: center;
    font-size: 120%;
    font-weight: 700;
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 20px;
    color: #f7f7f7;
}

#sign-up p {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    color: #f7f7f7;
    text-align: center;
}

/* Send button style, make it fit the screen */
.member {
    height: 30px;
    width: 30%;
    top: 15px;
    left: 250px;
    font-size: 110%;
  
}

/* Give left space between the input and the input labels */
.pase {
    left: 5px;
}

/* Ipad style for the UFE and Home Page images and figcaption texts */
#media img, #cate-g img {
    height: 60%;
    width:40%;
    float: inline-end;
}

#title, #sub-title {
    float: inline-end;
    width: 30%;
    height: 10%;
}

/* Make home page header bigger */
#topic h4 {
    font-size: 130%;
}

/* footer */
/* Make the footer header and list items bigger */
#lower-nav h4 {
    font-size: 110%;
}

#connect li {
    font-size: 76%;
}
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

/* Make the header bigger and give space on the left side */
    h1 {
        font-size: 1.6em;
        padding-left: 30px;
    }
/* make the social media icons, footer h4, topic section h3, #lead p, #parts p, #define p and #mini sections a bigger for the laptops and desktops */
    #networks li {
        font-size: 140%;
    
    }

    #lower-nav h4 {
        font-size: 160%;
    }

    #topic h3 {
        font-size: 130%;
    }

    #topic h4 {
        font-size: 150%;
    }

    #lead p, #parts p, #define p {
        font-size: 110%;
    }

    #mini {
        padding: 20px 10px;
    }

    /* Sign-up page */
/* Style the form, form h2, p, form inputs and send button for the laptops and desktops (make them bigger so it can be seen and be readable) */
    #sign-up {
        height: 60%;
        width: 80%;
        margin-top: 70px;
        margin-left: 70px;
        padding: 20px 50px;
        color: #f7f7f7;
    }

    #sign-up h2 {
        font-size: 155%;
    }

    #sign-up p {
        font-size: 130%;
    }
    .pase {
        width: 50%;
        left: 15px;
    }

    .member {
        position: relative;
        top: 60px;
        left: 350px;
    }

/* Style the images and figcaptions for the laptops and desktop screen sizes */
    #media img, #cate-g img {
        height: fit-content;
        width: 35%;
        position: relative;
        margin: 10px 0 0 10px;
    }
    
    #title, #sub-title {
        float: inline-end;
        width: 30%;
        height: 10%;
    }

    }
    
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

/* Style the images and the figcaption for the extral large laptops and large desktops so it can fit and be readable */
     #media img, #cate-g img {
        height: 700px;
        width: 40%;
        position: relative;
        bottom: 200px;
        margin: 50px 0 0 10px;
        padding: 25px 13px 20px 0;
        float: inline-end;
    }
    
    #title, #sub-title {
        width: 30%;
        height: 10%;
    }
    
    /* Give 0 bottom and margin so it overrides the styles and make the picture align right and middle and style figcaption also */
    #cate-g img {
        bottom: 0;
        margin: 0;
    }

    #sub-title {
        float: inline-end;
        width: 30%;
        height: 10%;
        padding: 10px 0 0 19em;
        font-size: 100%;
    }

    /* Make readable and style the paragraphs and headers of the sections all across the website for the extra large laptops and large desktops */
    #parts p {
        width: 80%;
        font-size: 110%;
    }

    #define h3 {
        font-size: 145%;
    }
    
    #define p {
        font-size: 110%;
    }

    #parts h3 {
        font-size: 138%;
    }

    #topic h4 {
        font-size: 140%;
    }

    #lead-th, #lead-fr, #lead-fv {
        width: 60%;
        text-align: center;
        padding: 0 30px;
    }

    #lead h4 {
        font-size: 130%;
    }

    #lead p {
        font-size: 110%;
    }

    /* about page  */
    #mind h3 {
    font-size: 145%;
}

    #mind p {
    font-size: 120%;
}

    #intro {
    font-size: 130%;
    }

    #intro p, #hero p {
        font-size: 110%;
        color: #ffffff;
    }

    /* Set color, padding and font size for the mini section */
    #mini {
        font-size: 100%;
        color: #ffffff;
        padding: 20px 30px;
    }
}